@font-face {
  font-family: 'Moontime';
  src: url('./assets/fonts/moon-time-regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
